<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">

  <title>Home</title>

</head>
<body style="background-color:#faebd7;">
<div style="text-align:center;">
  <h1 style="font-size:75px;font-family:'Varela',serif;"> Welcome to <b>eMATH!</b></h1>
  <p style="font-size:20px;font-family:'Varela',serif;"><i>"Pure mathematics is, in its way, the poetry of logical ideas."</i>
    <br>— Albert Einstein</p>

  <hr>
  <br>
  <div style="font-family:'Varela',serif;font-size:50px;">
    <button onclick="window.location.href = 'Adunare.html';"
      style="background-color:#d1c9bd;padding: 5px 15px; border-color:	#bdaea8;
           font-family:'Varela',serif; font-size:16px;">Addition/Subtraction</button><br><br>
    <button onclick="window.location.href = 'Inmultirea.html';"
            style="background-color:#e0dccf;padding: 5px 15px; border-color:	#bdaea8;
                        font-family:'Varela',serif;font-size:16px;">Multiplication/Division</button><br><br>
    <button onclick="window.location.href = 'Procente.html';"
            style="background-color:#eae9da;padding: 5px 15px; border-color:	#bdaea8;
                      font-family:'Varela',serif;  font-size:16px;">Percentages</button><br>
  </div>

</div>



</body>
</html>